body{
font-family: Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#1e293b;
padding:30px;
border-radius:10px;
width:350px;
}

h2{
text-align:center;
}

input,select,button{
width:100%;
padding:10px;
margin-top:10px;
border-radius:5px;
border:none;
}

button{
background:#38bdf8;
color:white;
font-weight:bold;
cursor:pointer;
}

.result{
margin-top:15px;
}
